{
  profiles.devcontainer.module = {
    devcontainer = {
      tweaks = [ "podman" "vscode" "gpg-agent" ];
      settings.customizations.vscode.extensions = [
        "jnoortheen.nix-ide"
        "be5invis.toml"
        "d-biehl.robotcode"
        "GitHub.copilot"
        "GitHub.copilot-chat"
        "mkhl.direnv"
        "vscodevim.vim"
        "/workspaces/purjo-playground/fixture/bpmn-modeler-0.1.0.vsix"
        "/workspaces/purjo-playground/fixture/dmn-modeler-0.1.0.vsix"
        "/workspaces/purjo-playground/fixture/form-js-modeler-0.1.0.vsix"
      ];
    };
  };
}
