black >= 25.12.0, <26
robotframework >= 7.3.1, <8
robotframework-robocop >= 7.2.0, <8
rf-mcp >= 0.29.0
git+https://github.com/datakurre/purjo.git@f4fec65c12b6e2dfaf02dc9ac739936c298e181f#egg=purjo
robotframework-robotlibrary >= 1.0a3
